
<body>
    <div class="card border-info mb-3" style="max-width: 200rem;"> 
        <div class="card-header">
        <%- post.name %> &nbsp; |  &nbsp;Date: <%- post.date.toLocaleDateString() %>
              <form method="POST">
                    <input type="hidden" name="postid" id="postid" value='<%-post._id %>'>
                    <input type="hidden" name="userName" id="userName" value='<%-post.userName %>'>
                    <%if(user){%>
                        <%if(post.userId==user._id){%>  
                            <button type="submit" name="button" value="edit" class="btn btn-link" >Edit</button>
                            <button type="submit" name="button" value="delete" class="btn btn-link" >Delete</button>
                        <%}}%>
                </form>                    
        </div>
        <div style="padding:10px;" class="card-text"> <%- post.content %> </div>
    </div>  
    
    <div>
        <%if(auth){%>            
            <div style="padding:25px">
                <form method="POST">
                    <input type="hidden" name="postid" id="postid" value='<%-post._id %>'>
                    <input type="hidden" name="userName" id="userName" value='<%-post.userName %>'>
                    <label>Help with mathematical theory:</label><br/>          
                    <textarea style="width:100%; height:150px;" id="textBox" id="textBox" name="textBox"></textarea>
                    </br>     
                    <button type="submit" id="button" name="button" value="addcomment" class="btn btn-success" >Add Comment</button> 
                </form>                 
            </div>

           
                      
        <%}else{%>
            <a class="btn btn-link" href="/users/login">Login to comment</a>
        <%}%>
    </div>
    <%if(comments!=null){%>
        <% comments.forEach(function(p){%>
            <div class="card border-secondary mb-3" style="max-width: 200rem;"> 
                <div class="card-header"> <p><%- p.userName %>&nbsp; | &nbsp;Date: <%- p.date.toLocaleDateString() %></p></div>         
                <form method="POST">
                </form> 
                <div style="padding:10px;" class="card-body"><p class="card-text"> <%- p.content %> </p></div>
            </div>
        <% });}%>
    
     

        
</body>

